extends includes/header.jade
block title
  title Post
block content
  .container
    h1 Post
    form(
      action='/public/post'
      method='post'
    )
      input(
        name='title'
        placeholder='title'
      )
      br
      textarea(
        name='body'
        placeholder='Write post here...'
        rows=10
        cols=40
      )
      br
      input(
        placeholder='tags, tags, tags'
        name='tags'
      )
      button= 'Submit'
    hr
