extendes include/header.jade
html
  head
    title=post.title
  body
    a(href='/')='home'
    h1=post.title
    .content=post.body
    hr
    .tags='Tags:'
      each count, tag in post.tags
        span.tag= " "+tag+","
    form(
      action='/public/'+post._id+"/tag"
      method='post'
    )
      input(
        name='tags',
        value=tags
      )
      button= 'add tags'
